git init
echo "myenv/" >> .gitignore  # prevent myenv from being tracked
git add .
git commit -m "Initial clean commit without myenv"
git remote add origin https://github.com/atomrobic/career-site.git
git checkout -b myapps
git push -u origin myapps
